body {
  font-family: GillSansMTPro-Light;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: GillSansMTPro-Light;
}
header p {
  background-color: #000000;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  font-family: "Gill Sans";
}
.slider {
  position: relative;
}
.custom-navbar {
  position: absolute !important;
  width: 100%;
  background: transparent !important;
  top: 50%;
  text-align: center !important;
}
.custom-navbar .nav-bar {
  margin: auto;
}
.custom-navbar .nav-bar a {
  color: #fff;
  text-align: center;
}
.cafe {
  background-image: url(../images/cafe.png);
  color: #fff;
  text-align: center;
  background-size: cover;
}
.banner {
  padding: 70px 200px;
}
@media (max-width: 992px) {
  .banner {
    padding: 70px 80px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 70px 50px;
  }
}
.cafe .heading {
  font-size: 60px;
  line-height: 60px;
  padding-bottom: 20px;
  text-transform: capitalize;
}
.cafe .head-para {
  font-size: 22px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 0.7px;
}
/* cards-section styling */
.card-container {
  display: flex;
  column-gap: 35px;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}
.card-container .col {
  flex-basis: 50%;
}
.cards-heading {
  text-align: center;
  margin: 30px 0;
  font-size: 32px;
  line-height: 66px;
}
.card-image img {
  height: 500px;
  width: 100%;
}
.card-content .image-heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 56px;
  color: #282828;
}
.card-content .image-description {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.7px;
  color: #282828;
}
.card-container button {
  padding: 8px;
  text-align: center;
  background-color: #134c6f;
  color: #fff;
  border: none;
  width: 170px;
  text-transform: uppercase;
  margin-top: 20px;
}
.card-container button:focus {
  outline: none;
}
.heading-furniture {
  font-size: 80px;
  color: #282828;
}
.card-container button:hover {
  cursor: pointer;
}
/* garden furniture section  */
.furniture-container {
  display: flex;
  justify-content: space-around;
}

.furniture-container .heading {
  text-transform: uppercase;
  margin-top: 78px;
  font-size: 60px;
  line-height: 60px;
}
.furniture-container span {
  display: inline;
}
.furniture-container h3 {
  text-transform: capitalize;
  font-size: 42px;
  font-weight: 500;
  line-height: 45px;
}
.furniture-container img {
  max-width: 100%;
}

.img-div {
  margin-left: 45%;
  margin-top: 50px;
}
.furniture-container button {
  padding: 8px;
  text-align: center;
  background-color: #134c6f;
  color: #fff;
  border: none;
  width: 170px;
  text-transform: uppercase;
  margin-top: 50px;
}

.garden-heading {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.garden-Furniture {
  display: flex;
  column-gap: 20px;
}
.garden-Furniture img {
  height: 300px;
  width: 100%;
}
.more {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 14px;
  margin-top: 70px;
  margin-bottom: 100px;
  text-decoration: underline;
}

/* instagram-section */
.instagram {
  display: flex;
  column-gap: 10px;
}
.instagram .col {
  flex: 1;
}

.instagram-heading {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 24px;
  padding-bottom: 50px;
}
.instagram-heading span {
  font-size: 14px;
  font-weight: 700;
}

/* signup-section */
.signup-heading {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  font-size: 17px;
  font-weight: 500;
}
.signup-para {
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
}
.input-div {
  text-align: center;
  margin-top: 50px;
}
.input-div input {
  width: 300px;
  padding: 15px;
  background-color: #f6f6f6;
  outline: none;
  border: none;
}
.input-div button {
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: #193f01;
  color: #fff;
  border: none;
  outline: none;
  letter-spacing: 2px;
}
.about {
  display: flex;
  padding: 70px;
  margin-top: 50px;
  justify-items: center;
  background-color: #f6f6f6;
  /* text-align: center; */
}
.service-col {
  flex-grow: 1;
}
.categories-col {
  flex-grow: 0.5;
}
.follow-col {
  flex-grow: 1;
}
.account-col {
  flex-grow: 1;
}
.about h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
}
.about li {
  list-style-type: none;
  font-size: 11px;
  line-height: 20px;
}
.social-icons {
  margin: 20px 10px;
}
.fb-icon {
  padding: 10px 15px;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  font-size: 15px;
}
.social-icons .icons {
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  padding: 11px 11px;
  border-radius: 50%;
  font-size: 15px;
}

.social-icons .icons:hover {
  background-color: #134b6f;
  color: #fff;
}
.social-icons .fb-icon:hover {
  background-color: #134b6f;
  color: #fff;
}
.follow-col ul li i {
  font-size: 12px;
  color: #255f00;
  margin-right: 10px;
}
footer p {
  text-align: center;
  color: #fff;
  background-color: #134b6f;
  padding: 20px;
  font-size: 11px;
}
